
#user-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0;
  }
  
  .user-page-content {
    text-align: center;
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #user-page-heading {
    font-size: 28px;
    color: #343a40; 
    margin-bottom: 10px;
  }
  
  #user-page-welcome {
    font-size: 18px;
    color: #6c757d; 
  }
  